
.MyName {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
}

.description {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
}
.description-2 {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-size: 15px;
}
.title{
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-size: 18px;

}
.link-font{
  font-family: "Arima", system-ui;

}